button.menu-btn menu
.menu-test
    button.dark-btn dark
    button.lng-btn en
    button.auth-btn auth
    button.btn-bet-online play
    button.btn-phase phase 2
.fav-page.loading#hockey
    .spinner-overlay
        .spinner
    .promo
        .promo__container.container
            .promo__left
                .promo__left-img
                    picture.uk
                        source(media="(max-width: 600px)" srcset="img/promo/promo-title-mob.png")
                        source(media="(max-width: 1050px)" srcset="img/promo/promo-title-tab.png")
                        img(src="img/promo/promo-title-desc.png" alt="title")
                    picture.en
                        source(media="(max-width: 600px)" srcset="img/promo/promo-title-mob-en.png")
                        source(media="(max-width: 1050px)" srcset="img/promo/promo-title-tab-en.png")
                        img(src="img/promo/promo-title-desc-en.png" alt="title")
                a.promo__btn.btn.unauth-msg(href="/login/" role="button" data-promo="hockey-universe-ua-231025" data-button="authorization_header") #[span.flare-container #[span.flare]]  #[span(data-translate="loginBtn") &#8203;]
                button.promo__btn.btn.part-btn.hide(data-promo="hockey-universe-ua-231025" data-button="took-part_header") #[span.flare-container #[span.flare]]  #[span(data-translate="partBtn") &#8203;]
                a.promo__btn.btn.play-btn.hide(href="#" data-promo="hockey-universe-ua-231025" data-button="placeBet_header") #[span.flare-container #[span.flare]]  #[span(data-translate="playBtn") &#8203;]
            .promo__right
                picture
                    source(media="(max-width: 600px)" srcset="img/promo/guy-mob.png")
                    source(media="(max-width: 1050px)" srcset="img/promo/guy-tab.png")
                    img(src="img/promo/guy-desc.png" alt="guy")
            .promo__decor._decor
                .promo__decor-left.decorLeft
                    img(src="img/decor/decor-left-1.png" alt="decor")
                .promo__decor-right.decorRight
                    img(src="img/decor/decor-right-1.png" alt="decor")
        .promo__bottom
            picture
                source(media="(max-width: 600px)" srcset="img/decor/symbols-mob.png")
                img(src="img/decor/symbols.png" alt="decor")
    .gide
        .gide__container.container
            .gide__title
                picture.uk
                    source(media="(max-width: 600px)" srcset="img/gide/gide-title-mob.png")
                    source(media="(max-width: 1050px)" srcset="img/gide/gide-title-tab.png")
                    img(src="img/gide/gide-title-desc.png" alt="gide")
                picture.en
                    source(media="(max-width: 600px)" srcset="img/gide/gide-title-mob-en.png")
                    source(media="(max-width: 1050px)" srcset="img/gide/gide-title-tab-en.png")
                    img(src="img/gide/gide-title-desc-en.png" alt="gide")
            .gide__content
                .gide__content-txt(data-translate="gideText")
                    p З 23 жовтня до 31 грудня ставки на хокейні події в межах турніру НХЛ відкривають шанс на частку від 600 000 ₴, бонусні пропозиції у вигляді «Страховки ставки» та додатковий приз.
                .gide__content-links
                    a.gide__btn.btn.unauth-msg(href="/login/" role="button" data-promo="hockey-universe-ua-231025" data-button="authorization_content") #[span.flare-container #[span.flare]]  #[span(data-translate="loginBtn") &#8203;]
                    button.gide__btn.btn.part-btn.hide(data-promo="hockey-universe-ua-231025" data-button="takePart_content") #[span.flare-container #[span.flare]]  #[span(data-translate="partBtn") &#8203;]
                    a.gide__btn.btn.play-btn.hide(href="#" data-promo="hockey-universe-ua-231025" data-button="placeBet_content") #[span.flare-container #[span.flare]]  #[span(data-translate="playBtn") &#8203;]
                    button.gide__detailsBtn.btn(data-translate="details") Деталі
            .gide__washers1
                source(media="(max-width: 600px)" srcset="img/gide/washers1-mob.png")
                source(media="(max-width: 1050px)" srcset="img/gide/washers1-tab.png")
                img(src="img/gide/washers1-desc.png" alt="title")
            .gide__washers2
                source(media="(max-width: 600px)" srcset="img/gide/washers2-mob.png")
                source(media="(max-width: 1050px)" srcset="img/gide/washers2-tab.png")
                img(src="img/gide/washers2-desc.png" alt="title")
            .gide__masck
                source(media="(max-width: 600px)" srcset="img/gide/gide-mask-mob.png")
                source(media="(max-width: 1050px)" srcset="img/gide/gide-mask-tab.png")
                img(src="img/gide/gide-mask-desc.png" alt="title")
        .gide__bottom
            picture
                source(media="(max-width: 600px)" srcset="img/decor/symbols-mob.png")
                img(src="img/decor/symbols.png" alt="decor")
    .results
        .results__container.container
            .table
                .results__title
                    picture.uk
                        source(media="(max-width: 600px)" srcset="img/results/results-title-mob.png")
                        source(media="(max-width: 1050px)" srcset="img/results/results-title-tab.png")
                        img(src="img/results/results-title-desc.png" alt="gide")
                    picture.en
                        source(media="(max-width: 600px)" srcset="img/results/results-title-mob-en.png")
                        source(media="(max-width: 1050px)" srcset="img/results/results-title-tab-en.png")
                        img(src="img/results/results-title-desc-en.png" alt="gide")
                .table__tabs
                    .table__tabs-item.active(data-week="1")
                        .table__tabs-item-number I
                        .table__tabs-item-date(data-translate="date1") 23.10.25 - 16.11.25
                    .table__tabs-item.lock(data-week="2")
                        .table__tabs-item-number II
                        .table__tabs-item-date(data-translate="date2") 23.10.25 - 16.11.25
                    .table__tabs-item.lock(data-week="3")
                        .table__tabs-item-number III
                        .table__tabs-item-date(data-translate="date3") 23.10.25 - 16.11.25
                .table__head
                    .table__row
                        .table__row-item(data-translate="tablePlace") Місце
                        .table__row-item(data-translate="tableId") ID Гравця
                        .table__row-item(data-translate="tablePoints") Кількість балів
                        .table__row-item(data-translate="tablePrize") Приз
                .table__body#table
                    .table__row.place1
                        .table__row-item 1
                        .table__row-item 4538***
                        .table__row-item 45555
                        .table__row-item 25 000 ₴
                    .table__row.place2
                        .table__row-item 2
                        .table__row-item ********
                        .table__row-item 4555
                        .table__row-item 25 000 ₴
                    .table__row.place3
                        .table__row-item 3
                        .table__row-item ********
                        .table__row-item 4555
                        .table__row-item СС до 500 ₴
                    .table__row
                        .table__row-item 4
                        .table__row-item ********
                        .table__row-item 4554
                        .table__row-item BI up to 150 ₴
                    .table__row
                        .table__row-item 5
                        .table__row-item ********
                        .table__row-item 4552
                        .table__row-item СС до 500 ₴
                    .table__row
                        .table__row-item 6
                        .table__row-item ********
                        .table__row-item 4552
                        .table__row-item BI up to 150 ₴
                    .table__row
                        .table__row-item 7
                        .table__row-item ********
                        .table__row-item 455
                        .table__row-item 25 000 ₴
                    .table__row
                        .table__row-item 8
                        .table__row-item ********
                        .table__row-item 455
                        .table__row-item 25 000 ₴
                    .table__row
                        .table__row-item 9
                        .table__row-item ********
                        .table__row-item 455
                        .table__row-item 25 000 ₴
                    .table__row
                        .table__row-item 10
                        .table__row-item ********
                        .table__row-item 455
                        .table__row-item 25 000 ₴
                .table__body#tableOther
                    .table__row.you
                        .table__row-item 01
                            span.you(data-translate="you") Ти
                        .table__row-item 4538***
                        .table__row-item 455
                        .table__row-item 25 000 ₴
                .table__decor._decor
                    .table__decor-1
                        img(src="img/decor/decor-1.svg" alt="decor")
                    .table__decor-2
                        img(src="img/decor/decor-2.svg" alt="decor")
                    .table__decor-3
                        img(src="img/decor/decor-3.svg" alt="decor")
                    .table__decor-4
                        img(src="img/decor/decor-4.svg" alt="decor")
            .results__decor._decor
                .results__decor-left.decorLeft
                    img(src="img/decor/decor-left-1.png" alt="decor")
                .results__decor-right.decorRight
                    img(src="img/decor/decor-right-1.png" alt="decor")
        .results__bottom
            picture
                source(media="(max-width: 600px)" srcset="img/decor/symbols-mob.png")
                img(src="img/decor/symbols.png" alt="decor")
    .prize
        .prize__container.container
            .hoodie
                picture
                    source(media="(max-width: 600px)" srcset="img/prize/hoodie-mob.png")
                    source(media="(max-width: 1050px)" srcset="img/prize/hoodie-tab.png")
                    img(src="img/prize/hoodie-desc.png" alt="guy")
            .prize__info
                .prize__info-img
                    img(src="img/prize/gift-icon.svg" alt="gift")
                .prize__info-txt(data-translate="hoodieGift") худі </br> в подарунок
            .table
                .prize__title
                    picture.uk
                        source(media="(max-width: 600px)" srcset="img/prize/prize-title-mob.png")
                        source(media="(max-width: 1050px)" srcset="img/prize/prize-title-tab.png")
                        img(src="img/prize/prize-title-desc.png" alt="gide")
                    picture.en
                        source(media="(max-width: 600px)" srcset="img/prize/prize-title-mob-en.png")
                        source(media="(max-width: 1050px)" srcset="img/prize/prize-title-tab-en.png")
                        img(src="img/prize/prizes-title-desc-en.png" alt="gide")
                .table__tabs
                    .table__tabs-item.active(data-week="1")
                        .table__tabs-item-number I
                        .table__tabs-item-date(data-translate="date1") 23.10.25 - 16.11.25
                    .table__tabs-item.lock(data-week="2")
                        .table__tabs-item-number II
                        .table__tabs-item-date(data-translate="date2") 23.10.25 - 16.11.25
                    .table__tabs-item.lock(data-week="3")
                        .table__tabs-item-number III
                        .table__tabs-item-date(data-translate="date3") 23.10.25 - 16.11.25
                .table__head
                    .table__row
                        .table__row-item(data-translate="tableId") ID Гравця
                        .table__row-item(data-translate="tableOdd") Коефіцієнт ставки
                        .table__row-item(data-translate="tablePrize") Приз
                .table__body
                    .table__row
                        .table__row-item 4538***
                        .table__row-item х10
                        .table__row-item
                            .table__row-item-img
                                img(src="img/prize/hoodie.svg" alt="hoodie")
                            .table__row-item-txt(data-translate="tableHoodie") худі
                a.prize__btn.btn.unauth-msg(href="/login/" data-promo="hockey-universe-ua-231025" data-button="authorization_footer") #[span.flare-container #[span.flare]]  #[span(data-translate="loginBtn") &#8203;]
                button.prize__btn.btn.part-btn.hide(data-promo="hockey-universe-ua-231025" data-button="takePart_footer") #[span.flare-container #[span.flare]]  #[span(data-translate="partBtn") &#8203;]
                a.prize__btn.btn.play-btn.hide(href="#" data-promo="hockey-universe-ua-231025" data-button="placeBet_footer") #[span.flare-container #[span.flare]]  #[span(data-translate="playBtn") &#8203;]
                .table__decor._decor
                    .table__decor-1
                        img(src="img/decor/decor-4.svg" alt="decor")
                    .table__decor-2
                        img(src="img/decor/decor-5.svg" alt="decor")
                    .table__decor-3
                        img(src="img/decor/decor-6.svg" alt="decor")
                    .table__decor-4
                        img(src="img/decor/decor-4.svg" alt="decor")
                    .table__decor-5
                        img(src="img/decor/decor-1.svg" alt="decor")
                    .table__decor-6
                        img(src="img/decor/decor-3.svg" alt="decor")
            .prize__decor._decor
                .prize__decor-left.decorLeft
                    img(src="img/decor/decor-left-2.png" alt="decor")
                .prize__decor-right.decorRight
                    img(src="img/decor/decor-right-2.png" alt="decor")
    .info.container
        .info__top(data-translate="infoTop") *Загальний призовий фонд Акції «Твій всесвіт хокею» складається з 600 000 Бонусів у вигляді електронних грошових замінників, призів у вигляді бонусної пропозиції «Страховки ставки» на загальну суму в 61 500 Бонусів у вигляді  електронних грошових замінників та визначених фізичних призів. Період дії акції – з 12:00 23.10.2025 до 23:59 31.12.2025 року.
        .info__bottom(data-translate="infobottom") *під «СС» розуміється бонус у вигляді «Страховка ставки»
    .drop
        details.dropdown
            summary(data-translate="rulseBtn") Правила та умови
            .drop-txt
                .drop-txt-inner
                    .drop-txt-list(data-translate="rules")
                        p Набирай бали та отримай шанс виграти призи
                        p З 23 жовтня до 31 грудня 2025 року роби виграшні ставки від 200 ₴ на хокейні події в межах турніру НХЛ з розділів «Спорт» або «LIVE» та заробляй бали за кожні 200 ₴. Чим вищий коефіцієнт, тим більше балів: - виграшні ставки з коефіцієнтом від 1.5 до 2.59 приносять 1 бал за кожні 200 ₴ в ставці; - виграшні ставки з коефіцієнтом від 2.6 до 4.0 приносять 3 бали за кожні 200 ₴ в ставці;- виграшні ставки з коефіцієнтом від 4.01 приносять 5 балів за кожні 200 ₴ в ставці. Бали нараховуватимуться та відображатимуться в розділі «Таблиця результатів».  Після завершення Акції 200 переможців, які наберуть найбільше балів протягом кожного окремого етапу в період проведення Акції, матимуть право на отримання призу. Для кожного етапу призовий фонд, який буде розділений між переможцями Акції, складається з: І етап — 200 000 ₴ + призи у вигляді бонусної пропозиції “Страховки ставки”; ІІ етап — 200 000 ₴ + призи у вигляді бонусної пропозиції “Страховки ставки”.   ІІІ етап — 200 000 ₴ + призи у вигляді бонусної пропозиції “
    .popup-wrap.opacity
        .popup.gideInfo(data-popup="gideInfo")
            .popup__close
                img(src="img/close.png" alt="close").popup__close-img
            .popup__block
                .popup__block-scroll
                    .popup__block-title
                        .popup__block-title-number 1
                        .popup__block-title-txt(data-translate="gideInfoTitle1") Натисни кнопку «Взяти участь».
                    .popup__block-txt(data-translate="gideInfoTxt1") Авторизуйся на акційній сторінці або зареєструйся як гравець та натисни кнопку «Взяти участь» на сторінці акції.
                    .popup__block-title
                        .popup__block-title-number 2
                        .popup__block-title-txt(data-translate="gideInfoTitle2") Акція проводиться у період з 12:00 23.10.2025 року по 23:59 30.12.2025 року.
                    .popup__block-txt(data-translate="gideInfoTxt2") Акція складається з 3-х окремих етапів, які проводяться в межах загального періоду проведення: #[br] #[span І етап] — 12:00 23.10.2025 - 16.11.2025 включно; #[br] #[span ІI етап] — 17.11.2025 - 07.12.2025 включно; #[br] #[span ІII етап] — 08.12.2025 - 23:59 31.12.2025 включно;
                    .popup__block-title
                        .popup__block-title-number 3
                        .popup__block-title-txt(data-translate="gideInfoTitle3") Набирай бали та отримай шанс виграти призи
                    .popup__block-txt(data-translate="gideInfoTxt3") З 23 жовтня до 31 грудня 2025 року роби виграшні ставки від 200 ₴ на хокейні події в межах турніру НХЛ з розділів «Спорт» або «LIVE» та заробляй бали за кожні 200 ₴. #[br] Чим вищий коефіцієнт, тим більше балів: #[br] - виграшні ставки з коефіцієнтом від 1.5 до 2.59 приносять 1 бал за кожні 200 ₴ в ставці; #[br]- виграшні ставки з коефіцієнтом від 2.6 до 4.0 приносять 3 бали за кожні 200 ₴ в ставці; #[br] - виграшні ставки з коефіцієнтом від 4.01 приносять 5 балів за кожні 200 ₴ в ставці. #[br] Бали нараховуватимуться та відображатимуться в розділі «Таблиця результатів». #[br] Після завершення Акції 200 переможців, які наберуть найбільше балів протягом кожного окремого етапу в період пр
